body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

.drawContainer {
    position: relative;
    display: none;
}
.startContainer {
    position: relative;
}

.container {
    margin: auto;
    width: 60%;
}

canvas {
    border: 1px solid black;

    cursor: default;
}

.controls {
    
}

.colorbtn {
    width: 50px;
}

.strokeContainer {
    display: none;
}