body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */

    background-color: lightblue; /* rgb(255,249,223) */
}

.container {
    margin: auto;
    width: 70%;
    /*height: 100%;*/
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    max-width: 1200px;
    min-width: 300px;

    background-color: white;
    border-radius: 10px;
}

.header {
    margin: auto;
    width: 70%;
    /*height: 100%;*/
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 20px;

    max-width: 1200px;
    min-width: 300px;

    background-color: white;
    border-radius: 10px;

    text-align: center;
}
.not-drawing {
    display: none;
}

.drawContainer {
    position: relative;
    display: none;
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
}

.controls > div {
    margin-top: 10px;
}

.startContainer {
    position: relative;
}


canvas {
    border: 1px solid black;

    cursor: default;
}

.colorbtn {
    width: 50px;
}

.main-head {
    width: 100%;
}

.main-left {
    width: 49%;
    display: inline-block;
}
.main-right {
    width: 50%;
    display: inline-block;
}

.color-dot {
    width: 40px;
    height: 40px;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 20%;

    display: inline-block;
    float: left;
}

table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

th {
    border-top: none;
    background-color: #EEE;
}

td:first-child {
     border-left: none;
}

td, th {
    padding: 5px;
    transition: background-color .25s;
}