<html>
<head>

</head>
<body>

  <div ng-app="app">
    <div ng-controller="NewImageCtrl">
      <form name="newImageForm">
        <div>
          <label>
            Columns: <input required type="number" ng-model="columns" name="columns" max="24" min="3"/>
          </label>
        </div>
        <div>
          <label>
            Rows: {{ calculateRows() }}
          </label>
        </div>
        <div>
          <button required ngf-select ng-model="image" ngf-pattern="'image/*'"
            ngf-accept="'image/*'">
            Select image
          </button>
          <div ng-if="image">
            {{ image.name }}
            <div ng-if="imageDimensions">
              {{ imageDimensions.width }} x {{ imageDimensions.height }}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
  <script src="https://npmcdn.com/ng-file-upload@11.2.2/dist/ng-file-upload-all.js"></script>
  <script>
    var app = angular.module('app', ['ngFileUpload'])

    app.controller('NewImageCtrl', function ($scope, Upload) {
      $scope.columns = 8;
      $scope.imageDimensions = null;
      $scope.$watch('image', function () {
        if ($scope.image) {
          Upload.imageDimensions($scope.image)
            .then(function (dimensions) {
              $scope.imageDimensions = dimensions;
            })
        }
      })

      $scope.calculateRows = function () {
        if (!$scope.imageDimensions) {
          return $scope.columns;
        }

        var size = Math.floor($scope.imageDimensions.width / $scope.columns);
        return Math.floor($scope.imageDimensions.height / size);
      }
    });

  </script>
</body>
</html>
